<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/head"); %>
    <link rel="stylesheet" href="styles/options.css" />
    <script src="src/level.js" type="module"></script>
  </head>
  <body>
    <div id="main">
      <div class="logo centralizar">
        <img src="assets/icons/app.ico" />
        <h1>ColetaPará</h1>
      </div>

      <div class="botoes centralizar">
        <div class="botao" id="easy">
          <input
            type="button"
            onclick="location.href='/menu';"
            value="2-4 anos"
            />
        </div>

        <div class="botao" id="medium">
          <input
            type="button"
            onclick="location.href='/menu';"
            value="5-7 anos"
          />
        </div>

        <div class="botao" id="hard">
            <input
                type="button"
                onclick="location.href='/menu';"            
                value="8 anos +"
            />
        </div>
      </div>
      <div class="rodape centralizar">
        <p>
          Projeto desenvolvido na disciplina de
          <b>Laboratório de Engenharia de Software</b> do curso de
          <b>Ciência da Computação</b> da <b>UFPA</b>.
        </p>
        <p>2022.2</p>
      </div>
    </div>
  </body>
</html>
