<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/head"); %>
    <link rel="stylesheet" href="styles/options.css" />
    <script src="src/level.js" type="module"></script>
  </head>
  <body>
    <div id="main">
      <div class="topbar">
        <div  class="botaoVoltar">
          <input
          type="button"
          onclick="location.href='/options';"
          value="Voltar"
        />
        </div>
      </div>
      <div class="botoes centralizar">
        <div class="botao" id="easy">
          <input
            type="button"
            onclick="location.href='/menu';"
            value="2-4 anos"
            />
        </div>

        <div class="botao" id="medium">
          <input
            type="button"
            onclick="location.href='/menu';"
            value="5-7 anos"
          />
        </div>

        <div class="botao" id="hard">
            <input
                type="button"
                onclick="location.href='/menu';"            
                value="8 anos +"
            />
        </div>
      </div>
    </div>
  </body>
</html>
