<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/head"); %>
    <link rel="stylesheet" href="styles/options.css" />
  </head>
  <body>
    <div id="main">
      <div class="topbar">
        <div  class="botaoVoltar">
          <input
          type="button"
          onclick="location.href='/menu';"
          value="Voltar"
        />
        </div>
      </div>
      <div class="botoes">
      </div>

      <div class="botoes centralizar">
        <div class="botao">
          <input
            type="button"
            onclick="location.href='/tutorial';"
            value="Tutorial"
          />
        </div>

        <div class="botao">
          <input
            type="button"
            onclick="location.href='/levels';"
            value="Dificuldade"
          />
        </div>
      </div>
    </div>
  </body>
</html>
