<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/head"); %>
    <link rel="stylesheet" href="styles/splash.css" />
    <script src="src/splash.js" type="module"></script>
  </head>
  <body  onclick="location.href='/menu';"">
    <div id="main">
      <div class="splash">
        <h1 class="fade-in">Seja Bem Vindo</h1>
      </div>
      <div class="centralizar textoPiscando">
        <h1>Clique na tela para Iniciar</h1>
      </div>
    </div>
  </body>
</html>
