/* Arquivo de estilização base */
@import url(main.css);

#main {
  display: grid;
  justify-content: center;
  align-content: center;
  height: 100vh;
}

marquee {
  display: grid;
  justify-items: center;
  align-items: center;
  align-content: center;
}

.logo h1 {
  font-size: 4rem;
}

.logo img {
  height: 10vh;
}

.rodape {
  font-size: 1.3rem;
  margin: 2rem;
}