@import url(main.css);  

#main {
  display: grid;
  grid-template-rows: 7vh 85vh 8vh;
}

body{
  background-image: url(../assets/imgs/fundo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}
.topbar {
  font-family: PixelFont;
  color: white;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;

  background-color: black;
}

#life {
  display: flex;
  align-items: center;
  font-size: 2rem;
}

#life img {
  height: 30px;
}

#score {
  font-size: 2rem;
}

#time{
  font-size: 2rem;
  color: black;
  font-weight: bold;
  background-color: white;
  padding: 0 1rem;
  border-radius: 1rem;
}

.botaoVoltar input{
  font-weight: bold;
  font-size: x-large;

  background-color: var(--vermelho);
  border: 2px solid white;
  border-radius: 1rem;

  box-shadow: 0.5vh 0.5vh white;
  transition: 100ms ease-in;
}

.botaoVoltar input:hover {
  background-color: var(--verde);
  box-shadow: 0rem 0rem black;

  transform: translateX(0.5vh) translateY(0.5vh);
  transition: 100ms ease-in;
}

.botaoStop input{
  /* tamanho */
  margin: 1rem;

  /* fonte */
  font-weight: bold;
  font-size: x-large;

  /* estilo */
  background-color: var(--amarelo-claro);
  border: 2px solid black;
  border-radius: 1rem;

  box-shadow: 0.5vh 0.5vh black;
  transition: 100ms ease-in;
}

.botaoStop input:hover {
  background-color: var(--vermelho);
  box-shadow: 0rem 0rem black;

  transform: translateX(0.5vh) translateY(0.5vh);
  transition: 100ms ease-in;
}

.botaoOptions input{
  transition: 100ms ease-in;
}
.botaoOptions input:hover{
  transform: translateX(0.5vh) translateY(0.5vh);
  transition: 100ms ease-in;
}

.objects {
  display: flex;
  justify-content: center;
  align-content: center;
}

.lixo {
  height: 5vh;
  width: 5vh;

  border-radius: 50%;
  border: 2px dashed black;

  margin: 10px;
}

.objMetal {
  background-color: var(--metal);
}

.objPlastico {
  background-color: var(--plastico);
}
.objPapel {
  background-color: var(--papel);
}

.objOrganico {
  background-color: var(--organico);
}

.objVidro {
  background-color: var(--vidro);
}

.footer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  align-content: flex-end;
}

.lixeira {
  height: 9vh;
  width: 9vh;
}

.gameover{
  position:fixed; 
  z-index:100000; 
  left:0; 
  top:0; 
  bottom:0; 
  right:0; 
  background-color:rgba(0,0,0,0.8);
  font-size:80px; 
  color: var(--vermelho); 
  font-weight:bold; 
  text-align:center; 
  align-items: center;
  text-indent:0;  
  line-height:150px;
}

.win{
  position:fixed; 
  z-index:100000; 
  left:0; 
  top:0; 
  bottom:0; 
  right:0; 
  background-color:rgba(0,0,0,0.8);
  font-size:80px; 
  color: var(--verde); 
  font-weight:bold; 
  text-align:center; 
  align-items: center;
  text-indent:0;  
  line-height:150px;
}