@import url(main.css);
@import url(menu.css);

#main {
  display: grid;
  justify-content: center;
  align-content: center;
  height: 100vh;
}

#easy{
  initial-value: "Fácil";
}

#medium{
  initial-value: "Médio";
}

#hard{
  initial-value: "Dificil";
}